# =======================================
# 📦 Application Config
# =======================================

# Path to the directory where the config file is located
CONFIG_FILE_PATH=/path/to/

# Base name of the config file (without extension)
CONFIG_FILE_NAME=config

# File type of the config file (yaml, json, etc.)
CONFIG_FILE_TYPE=yaml


# =======================================
# 🔐 AES Cipher Config
# =======================================

# 16, 24, or 32-byte key used for AES encryption/decryption
CIPHER_CRYPTO_KEY=qf0ac7131xktkut8


# =======================================
# 🔑 JWT Token Config
# =======================================

# JWT signing method: "HMAC", "HS256", "HS384", "HS512", "RSA", "RS256", "RS384", "RS512"
JWT_METHOD=HS256

# HMAC secret key (only used if JWT_METHOD is "HMAC", "HS256", "HS384", "HS512")
JWT_HMAC_KEY=supersecretkeyforhmac

# Path to your RSA private key file (used if JWT_METHOD is "RSA", "RS256", "RS384", "RS512")
JWT_RSA_PRIVATE_KEY_PATH=/path/to/private.pem

# Path to your RSA public key file  (used if JWT_METHOD is "RSA", "RS256", "RS384", "RS512")
JWT_RSA_PUBLIC_KEY_PATH=/path/to/public.pem
