application:
  port: 8000  # Port the application will run on
  name: "userVault"  # Name of the application

logger:
  level: "debug"  # Options: debug, info, warn, error
  encoding: 
    method: "json" # Options: json, console
    caller: true  # Include caller information in logs
  path: "/path/to/app.log"  # Path to the application log file
  errPath: "logs/error.log"  # Path to the error log file

middleware:
  keys:
    - "mhkwuhcL30tq6IuErPfKgRi86BfcRC8vtdQvJa5ILqrDmC2JdNlGlYs05w2KWcyd"
    - "f97bTqnEWXcSKQ4wtMwFf2vDCdUjnCrZDS6voQNZbf5s0a18j8uOWuS41Uwj6Jhv"
    - "bLiaBYhfYGr1ZXp6VfIEeaipGXWFAqxtw7LgaYaDcNMmHyz73BBnxMgK78YcfpUp"
    - "qIAJeZ7qzrUZ2CjsR2vvmhfnDOz8hMnKH2BwlpvCHkmc7TP0poxeqrCmU8ZV7q9q"  # Keys used for verifying internal middleware calls

email:
  activation:
    templatePath: "/path/to/activation_email_template.html"  # Template for activation email
    link: "https://example.com/activate?token={{token}}"  # Activation link with token macro
  passwordReset:
    templatePath: "/path/to/password_reset_email_template.html"  # Template for reset email
    link: "https://example.com/password-reset?token={{token}}"  # Reset link with token macro
  
api:
  userLogin:
    enabled: true
    route: "/api/v1/login"
    method: "POST"
  userRegister:
    enabled: true
    route: "/api/v1/register"
    method: "POST"
  userActivation:
    enabled: true
    route: "/api/v1/activate"
    method: "POST"
  userLogout:
    enabled: true
    route: "/api/v1/logout"
    method: "POST"
  userForgotPassword:
    enabled: true
    route: "/api/v1/forgot-password"
    method: "POST"
  userPasswordReset:
    enabled: true
    route: "/api/v1/reset-password"
    method: "POST"
  userRefreshToken:
    enabled: true
    route: "/api/v1/refresh-token"
    method: "POST"
  userResendActivation:
    enabled: true
    route: "/api/v1/resend-activation"
    method: "POST"

store:
  database:
    host: "g7kd8v84u4d..."  # Encrypted database host
    port: "j2938djw..."  # Encrypted port, e.g., 3306
    username: "dj3k4jf..."  # Encrypted DB username
    password: "fk3948dj..."  # Encrypted DB password
    name: test  # Database name
    prefix: pm_  # Table prefix for your DB tables
    
user:
  maxLoginAttempt: 5  # Maximum allowed failed login attempts before lockout
  loginAttemptSessionPeriod: 60  # Time period (in seconds) to count failed attempts
  passwordHashCost: 12  # bcrypt cost factor for password hashing
  activation:
    linkExpiry: 1800  # Expiry time for activation link in seconds (30 min)
  passwordReset:
    linkExpiry: 1800  # Expiry time for reset link in seconds (30 min)
  refreshToken:
    enabled: true  # Whether refresh token system is enabled
    rotation: false  # Whether to rotate refresh tokens on use
    expiry: 36000  # Expiry time for refresh tokens in seconds (10 hours)
  accessToken:
    expiry: 1500  # Expiry time for access tokens in seconds (25 min)
