services:
  user-vault:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      CONFIG_FILE_PATH: /app/conf/local.yml
      CIPHER_SECRET_ENCRYPTION_ENABLED: false
      CIPHER_SECRET_KEY:
      JWT_METHOD: HS256
      JWT_HMAC_KEY: supersecretkeyforhmac
      JWT_RSA_PRIVATE_KEY_PATH: 
      JWT_RSA_PUBLIC_KEY_PATH:

    volumes:
      - ./etc/conf/:/app/conf/:ro
      - ./etc/env/:/app/env/:ro
      - ./etc/secret/:/app/secret/:ro
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    external: true
