version: "3.9"

services:
  zookeeper:
    image: bitnami/zookeeper:latest
    container_name: zookeeper
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    networks:
      - app-network

  kafka:
    image: bitnami/kafka:latest
    container_name: kafka
    ports:
      - "9970:9092"
    environment:
      - KAFKA_CFG_BROKER_ID=1
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=false
      - ALLOW_PLAINTEXT_LISTENER=yes
    volumes:
      - kafka_data:/bitnami/kafka
    depends_on:
      - zookeeper
    networks:
      - app-network

  kafka-init:
    image: bitnami/kafka:latest
    depends_on:
      - kafka
    entrypoint: ["/bin/bash", "-c"]
    command: |
      echo "Waiting for Kafka..."
      until kafka-topics.sh --bootstrap-server kafka:9092 --list >/dev/null 2>&1; do
        sleep 3
      done
      
      kafka-topics.sh --create --if-not-exists \
        --topic user-verification \
        --bootstrap-server kafka:9092 \
        --partitions 1 \
        --replication-factor 1

      kafka-topics.sh --create --if-not-exists \
        --topic user-password-reset \
        --bootstrap-server kafka:9092 \
        --partitions 1 \
        --replication-factor 1

      echo "Kafka topics ready"
    networks:
      - app-network

volumes:
  kafka_data:

networks:
  app-network:
    external: true
