# =======================================
# 📦 Application Config
# =======================================

# Path to the directory where the config file is located
CONFIG_FILE_PATH=/app/config/local.yaml


# =======================================
# 🔐 AES Cipher Config
# =======================================

CIPHER_SECRET_ENCRYPTION_ENABLED=false

# 16, 24, or 32-byte key used for AES encryption/decryption
CIPHER_SECRET_KEY=qf0ac7131xktkut8


# =======================================
# 🔑 JWT Token Config
# =======================================

# JWT signing method: "HMAC", "HS256", "HS384", "HS512", "RSA", "RS256", "RS384", "RS512"
JWT_METHOD=HS256

# HMAC secret key (only used if JWT_METHOD is "HMAC", "HS256", "HS384", "HS512")
JWT_HMAC_KEY=supersecretkeyforhmac

# Path to your RSA private key file (used if JWT_METHOD is "RSA", "RS256", "RS384", "RS512")
JWT_RSA_PRIVATE_KEY_PATH=/app/config/secret/local-private.pem

# Path to your RSA public key file  (used if JWT_METHOD is "RSA", "RS256", "RS384", "RS512")
JWT_RSA_PUBLIC_KEY_PATH=/app/config/secret/local-public.pem
