application:
  port: 8000
  name: Mayilon

middleware:
  authorization:
    enabled: true
    token: c713-kut8-1xkt-qf0a
  authentication:
    secret_key: c713kut8-1xktqf0a
    token_expiry: 84000 #seconds
    
api:
  user_login:
    enabled: true
    route: /user/login
    method: GET
  user_register:
    enabled: true
    route: /user/register
    method: GET
  user_activation:
    enabled: true
    route: /user/activate
    method: GET
  user_forgot_password:
    enabled: true
    route: /user/forgot-password
    method: GET
  user_password_reset:
    enabled: true
    route: /user/password-reset
    method: GET

store:
  database:
    host: localhost
    port: 3306
    username: root
    password: ""
    name: test
    table:
      prefix: pm_
      user: user
      user_login_attempt: user_login_attempt
      user_activation_token: user_activation_token
      user_password_reset: user_password_reset
  cache:
    heap:
      enabled: true
      max_capacity: 2000
      expiry: 3600 #seconds

user:
  max_login_attempt: 5
  login_attempt_session_period: 60
  password_hash_cost: 12
  activation:
    template_path: data/template/activation_email_template.html  # macros :[{{appName}},{{name}},{{activationLink}}]
    link: http://localhost:8000/user/activate # macros :[{{tokenId}},{{token}}]
    link_expiry: 84000 #seconds
  password_reset:
    template_path: data/template/password_reset_email_template.html  # macros :[{{appName}},{{name}},{{activationLink}}]
    link: http://localhost:8000/user/password_reset # macros :[{{tokenId}},{{token}}]
    link_expiry: 1800 #seconds
