port: 8000
middleware:
  auth:
    enabled: true
    token: c713-kut8-1xkt-qf0a
api:
  user_login:
    enabled: true
    route: /user/login
    method: GET
  user_register:
    enabled: true
    route: /user/register
    method: GET
  user_forgot_password:
    enabled: true
    route: /user/forgot-password
    method: GET
  user_reset_password:
    enabled: true
    route: /user/reset-password
    method: GET
store:
  database:
    host: localhost
    port: 3607
    username: root
    password: ""
    name: mayilon
    table_pefix: pm_
    tables:
      user: user
  cache:
    heap:
      enabled: true
      max_capacity: 2000
      expiry: 3600
