port: 8000
middleware:
  authorization:
    enabled: true
    token: c713-kut8-1xkt-qf0a
  authentication:
    secret_key: c713kut8
    token_expiry: 84000 #seconds
api:
  user_login:
    enabled: true
    route: /user/login
    method: GET
  user_register:
    enabled: true
    route: /user/register
    method: GET
  user_forgot_password:
    enabled: true
    route: /user/forgot-password
    method: GET
  user_reset_password:
    enabled: true
    route: /user/reset-password
    method: GET
store:
  database:
    host: localhost
    port: 3306
    username: root
    password: ""
    name: test
    table:
      prefix: pm_
      user: user
      user_login_attempt: user_login_attempt
  cache:
    heap:
      enabled: true
      max_capacity: 2000
      expiry: 3600 #seconds

user:
  max_login_attempt: 5
  login_attempt_session_period: 60
  password_hash_cost: 12
  activation:
    template_path:
    from:
    link_expiry: 1800 #seconds

email:
  host:
  port:
  username:
  password:

