application:
  port: 8000
  name: userVault

logger:
  level:
  encoding:
    method:
    caller:
  path:
  errPath:

cipher:
  cryptoKey: qf0ac7131xktkut8

token:
  jwt:
    method: "RS256"   # Could be either "HS256" for HMAC or "RS256" for RSA
    hmacKey: "supersecretkeyforhmac"  # HMAC key used for signing (only if method is "HS256")
    rsaPrivateKeyPath: "/path/to/rsa_private_key.pem"  # Path to your RSA private key (only if method is "RS256")
    rsaPublicKeyPath: "/path/to/rsa_public_key.pem"    # Path to your RSA public key (only if method is "RS256")
  
middleware:
  keys:
    - "mhkwuhcL30tq6IuErPfKgRi86BfcRC8vtdQvJa5ILqrDmC2JdNlGlYs05w2KWcyd"
    - "f97bTqnEWXcSKQ4wtMwFf2vDCdUjnCrZDS6voQNZbf5s0a18j8uOWuS41Uwj6Jhv"
    - "bLiaBYhfYGr1ZXp6VfIEeaipGXWFAqxtw7LgaYaDcNMmHyz73BBnxMgK78YcfpUp"
    - "qIAJeZ7qzrUZ2CjsR2vvmhfnDOz8hMnKH2BwlpvCHkmc7TP0poxeqrCmU8ZV7q9q"


api:
  userLogin:
    enabled: true
    route: /user/login
    method: GET
  userRegister:
    enabled: true
    route: /user/register
    method: GET
  userActivation:
    enabled: true
    route: /user/activation
    method: GET
  userResendActivation:
    enabled: true
    route: /user/resend-activation
    method: GET
  userForgotPassword:
    enabled: true
    route: /user/forgot-password
    method: GET
  userPasswordReset:
    enabled: true
    route: /user/password-reset
    method: GET
  userRefreshTokenValidate:
    enabled: true
    route: /user/refresh-token-validate
    method: GET
  userLogout:
    enabled: true
    route: /user/logout
    method: GET
      
store:
  database:
    host: #encrypted value
    port:  #encrypted value
    username:  #encrypted value
    password:  #encrypted value
    name: test
    prefix: pm_
  cache:
    heap:
      enabled: true
      maxCapacity: 2000
      expiry: 3600

user:
  maxLoginAttempt: 5
  loginAttemptSessionPeriod: 60 #seconds
  passwordHashCost: 12
  activation:
    templatePath: data/templates/activation_email_template.html  # macros :[{{appName}},{{name}},{{Link}}]
    link: http://localhost:8000/user/activate??token={{token}} # macros :[{{tokenId}},{{token}}]
    linkExpiry: 1800 #seconds
  passwordReset:
    templatePath: data/templates/password_reset_email_template.html  # macros :[{{appName}},{{name}},{{Link}}]
    link: http://localhost:8000/user/password_reset?token={{token}} # macros :[{{token}}]
    linkExpiry: 1800 #seconds
  refreshToken:
     enabled: true
     rotation: false
     expiry: 36000
  accessToken:
    expiry: 1500
